/*  your css code here. If applicable */
.grid-container{
	display:flex;
	justify-content:space-between;
	gap:10px;
/* 	flex-wrap:wrap; */
}
.grid-item{
	width:200px;
	height:150px;
	
	background-color:lightgray;
	border:none;
    border-radius:5px;
	font-size:40px;
}
@media screen and (min-width:1500px){
	.grid-item{
		background-color:red;
	}
}

