/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(auto-fit ,200px);
	grid-gap:10px;
    width: 90%;
    margin: 0 auto;
    list-style: none;
     
.grid-item{
	height:150px;
	background-color:gba(0, 0, 0, 0);
    border-radius:5px;
	font-size:40px;
	text-align:center;
}
